//Breakpoints
$breakpoints-xs: 0px;
$breakpoints-sm: 600px;
$breakpoints-md: 900px;
$breakpoints-lg: 1200px;
$breakpoints-xl: 1536px;

//Typography
$body-1: 0.875rem;
$body-2: 0.75rem;

//Colors
$background: #f5f8ff;
$primary-light: #02317d;
$primary-main: #011e4b;
$primary-dark: #000a19;
$secondary-lighter: #f2f2f7;
$secondary-light: #c7c7cc;
$secondary-main: #8e8e93;
$secondary-dark: #636366;
$grey-100: #f2f2f7;
$grey-200: #e5e5ea;
$info-lighter: #e6efff;
$info-light: #b4d0fe;
$info-main: #5091fc;
$info-dark: #0459e1;
$warning-light: #fff7e5;
$warning-main: #ffac00;
$warning-dark: #c58500;
$error-main: #fe4d5f;
$error-light: #fe808d;
$error-lighter: #ffb3bb;
$success-main: #01c9a0;
$success-dark: #01725b;
$primary-50: #e6efff;
$icon: #235cb9;
//z-index
$z0: 0;
$z1: 1;
$z2: 2;
$z3: 3;
$z100: 100;
$z200: 200;
$z300: 300;
$z400: 400;
$z500: 500;
$z600: 600;

//Padding
$padSeparator1: 60px;
$padSeparator2: 80px;

//width
$drawerWidth: 260px;
$tabsWidth: 180px;

//Border Radius
$br1: 12px;
$br2: 14px;
