.grey-100 {
  background-color: $grey-100;
}

.info-light {
  background-color: $info-light;
}

.warning-main {
  background-color: $warning-main;
}

.success-main {
  background-color: $success-main;
}

.typo-secondary {
  color: $secondary-light !important;
}

.body1 {
  font-size: $body-1 !important;
}

.body2 {
  font-size: $body-2 !important;
}

.bold {
  font-weight: 600 !important;
}
