@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import "scss/main.scss";

@font-face {
  font-family: Arciform;
  src: url("./assets/font/Arciform.otf") format("opentype");
  font-display: swap;
}
